@import "@/mixins.scss";

.toolsContainer {
	@include absoluteElement();
	@include dFlex(column, flex-start);
	width: auto;
	height: 20%;
	top: 0;
  left: 3rem;
	z-index: 100;
	gap: 1rem;
	flex-shrink: 0;
	font-size: 1rem;
	transition: left 200ms linear;

	&.closed {
		left: -20%;
	}
}

.tools {
	@include dFlex(column, flex-end);
	width: 100%;
	height: 100%;
	gap: 1rem;
	font-size: 1em;
}

.toolOption {
	@include dFlex(column);
	width: 3rem;
	// border: none;
	background: var(--colorMain);
	box-shadow: 0 0 20rem #fff1 inset;
	color: var(--colorWhite);
	font-size: 0.8em;
	cursor: pointer;

	& > span {
		font-size: 1.5em;
	}

	& > p {
		text-align: center;
	}
}

.toggleTools {
	top: 1rem;
	left: 3rem;
	position: fixed;
}

.info {
	@include dFlex(column);
	align-items: flex-end;
	position: fixed;
	top: 0;
	right: 0;
	background: #0009;
	color: var(--colorWhite);
	transition: top 200ms linear;

	&.closed {
		top: -10rem;
	}
}

.centerMark {
	--size: 0.5rem;

	position: absolute;
	width: var(--size);
	height: var(--size);
	top: calc((100% - var(--size)) / 2);
	left: calc((100% - var(--size)) / 2);
  background: #aa5200;
	border-radius: 50%;
	z-index: 1000;
}

.cancelMode {
  transform: rotate(45deg);
}

@media screen and (min-width: $desktopBreakpoint) {
	.toolsContainer {
    height: 30%;
    left: 1rem;
  }

	.toggleTools {
    top: 7rem;
    left: 1rem;
  }
}
